.modal-outer{
  position: fixed;
   width:100vw;
   height:100vh;
   display:flex;
   background-color: rgba(0,0,0,.75);
   z-index:1000;
   align-items:center;
   justify-content: center;
}


.modal-inner{
  box-sizing:border-box;
  position: relative;
  margin-top: -10%;
   width:50%;
   max-width:450px;
   min-height:30%;
   padding:30px;
   background-color: #FFF;
}
.modal-inner h4{
   font-size: 20px;
   line-height: 28px;
   font-weight:normal;
   padding-top: 0px;
   margin: 0;
   white-space: pre-line;
}
.modal-btn{
  position:absolute;
  bottom:30px;
  left:30px;
}

.close{
  position:absolute;
  top:-8px;
  right:20px;
  line-height: 0;
  cursor: pointer;
}
.close h5{
   font-size: 20px;
}